@import 'styleAdmin'


#contentContainer
	margin-top -2em !important
	.infoMassage
		text-align center
		img
			padding-bottom 2em
	.bg-gray
		border-bottom solid 5px #ccc
		margin-top 2em	
	#etapas
		overflow hidden
		box-sizing border-box
		padding-top 0.5em
		padding-bottom 0.5em
		font-size 18px
		padding-bottom 1.5em
		padding-top 1.5em
		a
			color inherit
		li
			width 24.5%
			p
				font-size 17px !important
	#divContainer
		overflow hidden
	.floatLeft
		width 70%
	.floatRight
		width 29%
		.doble
			width 48%
		form
			max-width 100% !important
	#ultimo
		margin 0 !important
	.pallete-item
		width 31%
		line-height 1em
		cursor pointer
		border-radius 4px
		overflow hidden
		text-align center
		-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.20);
		-moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.20);
		box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.20);
		display inline-block
		margin-right 2%
		ul
			border-top solid 1px white
			list-style none
			padding 0
			padding-top 1em
			padding-bottom 1em
			background #d7f1fa
			margin 0
			li
				margin-bottom 0.5em
				
		.superior
			background #4fc1e9
			color #434a54
			padding-top 3em
			position relative
			padding 1em !important
			span
				position absolute
				top 1em
				right 1em
				color white
				background #008C98
				padding 0.5em
				border-radius 50%
				display none
			.mediumTitles
				color white
				text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
				text-transform capitalize
				font-family: fuente
				font-size 1.5em !important
			p
				text-transform lowercase
				line-height: 1.2em;
		.inferior
			background #e6e9ed
			color white
			text-align center
			padding 1em !important
			p
				width 70%
				margin auto
				background #4fc1e9
				padding 0.5em
				border-radius 4px
				text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);	
	.active
		-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.50);
		-moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.50);
		box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.50);
		
	#registerForm
		margin-top -5px
		padding-top 2em
		padding-bottom 3em
		font-family: "Lato", Helvetica, Arial, sans-serif;
		border none !important
		article
			font-size 16px
		form
			max-width 350px
			margin auto
		#suscriptionForm
			max-width 100% !important
			overflow hidden
			margin-top 2em
			.floatLeft,.floatRight
				width 45% !important
				.checkbox
					width 48%
					cursor pointer
			.categorys,.marks
				padding 1em
				border solid 1px #ccc
				margin-top 1em
				.checkboxList
					margin 0
					padding 0
					li
						display inline-block
						width 100%
						font-size 18px
						margin-bottom 0.5em
						label
							font-weight normal !important
							margin-left -40px
							cursor pointer
							&:before
								content: "\e738";
								font-family icomoon	
								font-size 0.7em
								opacity 1
								color #ccc
								background #ccc
								padding 4px
								transition all ease 0.5s
								cursor pointer
						input[type='checkbox']
							opacity  0
							width 50px
							&:checked + label
								&:before
									background #3bafda
									color white
									content: "\e6fe";
									font-weight normal !important
							

							

			input[type='submit']
				margin-top 2em !important 
				width 250px !important
#payFormOxxo
	display none
body #superior header nav ul #logo 
	width 205px !important
body #superior header nav ul #profile
	width 275px !important
#subNav
	display none !important
		
#subNavNew
	margin-bottom 3em
#subNavNew ul .search
	float right
	margin-top: 0.6em
#contentContainer .pallete-item .inferior p
	width 80%


header
	overflow visible !important
.bigTitles
	font-size 1.2em !important

.contentCenter
	max-width 1050px !important