@import 'styleAdmin'

.modal-dialog
    width: 500px;

body
	#contentContainer
		max-width 994px;
		margin auto !important
		padding-left 1em 
		padding-right 1em 
		margin-top 1em !important
		min-height 470px;
		.reputacion
			img
				width 120px
		.time
			width 100%
			input
				width 95%
				vertical-align middle
				margin-bottom 0
		#imagenes
			margin-top 3em
			margin-bottom 3em
			.izquierda
				width 30%
				margin-right 2%
				height 300px;
				overflow hidden
				border-radius 5px
				.fullSize
					position absolute 
					top 10px
					right 10px
					padding 0.3em
					cursor pointer
					border-radius 5px					
				li
					position relative
					overflow hidden 
					height 90px
					margin-bottom 5px
					border solid 1px #ccc 
					cursor pointer
					border-radius 5px
					img
						width 100%
		.derecha
			width 67%
			span
				margin-right 5px
				min-width 150px
			h2
				margin-top 0
			article 
				margin-top 1em
			.avatar 
				min-width 24px
				img
					width 50px
			.profile
				cursor pointer
		
	#ofertar
		margin-bottom 2em
		overflow hidden
		form
			.floatLeft
				width 45%
				.price
					width 60%
					input
						width 90%
						margin-bottom 0
				.status
					width 38%
			.details
				width 100%
				textarea
					width 95%
					height: 100px;
					margin-bottom 1em
			.floatRight
				width 50%
#perfil
	.modal-body
		text-align center
.modal-body
	overflow hidden
.images
	width 100%
	height 102px
	border dotted 2px #bdc3c7
	border-radius 5px
	margin-bottom 1em
	padding 0.5em
	padding-bottom: 0 !important;
	.item
		margin-left 5px
	#plusImage
		background #E56B15
		text-align center
		padding 0.7em
		span
			font-size 18px
		&:hover span
			padding-top 4em
			cursor pointer
			transition all ease 0.3s
			text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
	li
		width 23.5%
		position relative
		height 80px
		cursor pointer
		overflow hidden
		img
			width 100%

	
		#add-imagen
			position absolute
			top 0 
			left 0
			width 100%
			height 100%
			opacity 0
			cursor pointer
		