@import 'styleAdmin'

body
	#contentContainer
		max-width 994px;
		margin auto !important
		padding-left 1em 
		padding-right 1em 
		margin-top 1em !important

		#ticket,#faqs
			margin-top 2em;
			select
				width 30%
				margin-right 20px
			.titleQuestion
				width 67%
			button
				margin-top 1em
				width 30%
				float right
		#newComent
			padding 1em	
			padding-top 0
			.newComent
				transition all ease 0.5s
				padding-top 0
				height 0
				overflow hidden
				.avatar
					width 40px
					overflow hidden
					img
						width 100%
				textarea 
					width 94% !important
					transition all ease 0.5s
					height 40px
					overflow hidden
				button
					margin-top 0.5em
					padding 0.2em !important
					width 150px
					margin-left 20px