@import 'styleAdmin'

body
	#contentContainer
		max-width 994px;
		margin auto !important
		padding-left 1em 
		padding-right 1em 
		margin-top 1.5em !important
		h2
			margin-top 0
		#container
			margin-top 2em
			.floatLeft
				width 250px
				overflow hidden
				max-height 250px;
				border solid 1px #ccc
				img	
					width  100%
			.floatRight
				width 70%
				.vendedor,.monto,.calificar
					display block
				.calificar
					margin-top 1em
					span
						font-size 25px
						cursor pointer
						transition all ease 0.5s
					&:hover span
						color #ec971f
				.calificar > span:hover ~ span
					color #34495e
				#comment
					margin-top 1.5em
					.commentContent
						width 96%
						height 44px
					button
						width 200px
						float right
						margin-top 1em
