@import 'styleAdmin'


#contentContainer
	.form-group
		input,select
			margin-bottom 1em
	#profileForm
		margin-top 1.5em
		overflow hidden
		.izquierda
			width 40%
			.perfil
				overflow hidden
				margin-bottom 0.9em

			.doble
				width 46.6% 
				margin-right 5%
			button
				width 60%
		.derecha
			width 50%
			text-align center	
			img
				width 100px
			#imagen
				position relative
				width 234px
				margin auto
				margin-top 0.5em
				input
					position absolute
					top 0
					left 0
					opacity 0
			button
				width 50%
				margin auto
				margin-top 2.5em
		

.search 
	margin-left 24.5% !important
#subNavNew
	overflow hidden
#subNav
	display none