@import 'styleAdmin'


#contentContainer
	margin-top -2em !important
	.bg-gray
		border-bottom solid 5px #ccc
		border-top solid 5px #ccc
		margin-top 2em	
	#etapas
		overflow hidden
		box-sizing border-box
		font-size 18px
		padding-bottom 1.5em
		padding-top 1.5em
		font-family 'Audiowide' !important
		a
			color inherit
		li
			width 49%
			text-align center
			p
				font-size 17px !important
	#registerForm
		margin-top -5px
		border-top solid 5px #15D4E5
		padding-top 2em
		padding-bottom 3em
		#card,#contact
			display none
			margin-bottom 2em !important
			overflow hidden
		h3
			margin-right 20%
		.metodo
			width 46%
			margin-right 7.3% 
		.floatLeft
			width 54%
			overflow hidden
			textarea
				height 209px
		.dataProfile
			span
				margin-bottom 10px
			a
				width 200px;
				margin-top 1em
		.floatRight
			width 42%
			overflow hidden
			.doble
				width 46.5%
				margin-right 5%
	#methods
		text-align center
		img
			width 150px
			height 94px
		aside
			padding 1em
