@import 'styleAdmin'

body
	#contentContainer
		max-width 994px;
		margin auto !important
		padding-left 1em 
		padding-right 1em 
		margin-top 1em !important

		#ticket,#faqs
			margin-top 2em;
			select
				width 30%
				margin-right 20px
			.titleQuestion
				width 67%
			button
				margin-top 1em
				width 30%
				float right