fuente 		= 'Audiowide' !important;

fuenteNormal= font-family "Lato", Helvetica, Arial, sans-serif

azul 		= #008C98
darkBlue 	= #007B86
cyan 		= #15D4E5
orange		= #E56B15
cgray		= #BDBFC1

input,select
	margin-bottom 1em
a
	text-decoration none
	&:hover
		text-decoration none
.allSize
	width 100% !important
.inline
	display inline-block !important
	vertical-align top
.vmedio
	vertical-align middle !important
.azul
	background azul
.list-none
	list-style none
	padding 0
	margin 0
	li
		display inline-block !important
.left-none
	margin-left 0
.align-left
	text-align left !important
.bottom-none
	margin-bottom 0
.black
	color black
.verde
	color #008C98
.fgazul
	color #15D4E5
.white
	color white
.orange
	color orange
.rojo
	color #E74C3C !important
.bg-orange
	background orange !important

.bg-blue
	background azul !important
.bg-darkBlue
	background darkBlue !important
.bg-gray
	background #EAE5E1
.bg-rojo
	background #E74C3C !important

.ultimo
	margin 0 !important
.bigIcon
	font-size 3em
.middleIcon
	font-size 1.5em
.superTitle
	padding 0.5em !important
	width 80%
	margin auto
	text-align center
	border-radius 5px
	margin-top -2.6em
	font-family fuente
.titleRefa
	font-family fuente
	font-size 20px
.itemCircle
	padding 0.2em
	border-radius 50%
	padding-left 0.8em
	padding-right 0.8em
.fontNormal
	font-family: "Lato", Helvetica, Arial, sans-serif;

.icomoon 
	font-family: 'icomoon' !important;
.itemActive
	color black
	span
		color white
		background azul
.itemInactive
	color cgray
	span
		color white
		background cgray
.contentCenter
	padding-left 1em
	padding-right 1em
	max-width 994px
	margin auto
.textShadow
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
.nota
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	rotation:180deg;
.textNote
	padding 0.5em
	background #15D4E5
	margin-left -8px

.alignLeft
	text-align left
.alignRight
	text-align right
.alignCenter
	text-align center

.textNormal
	font-weight normal
.textBold
	font-weight  bold
.floatLeft
	float left !important
.floatRight
	float right !important
.litleText
	font-size 0.8em !important
.smallTitles
	font-size 1.1em !important
.mediumTitles
	font-size 1.2em !important
.bigTitles
	font-size 1.5em !important

.errorMassage
	color red !important
	text-align center
.top-none
	margin-top 0 !important
.goodNote
	color #ec971f !important
.minAlert
	font-size 14px !important
	padding 5px;
	margin-top 1em
	padding-left 1em
.fontMedium
	font-size 18px

.checkboxField
	label
		font-weight normal !important
		margin-left -40px
		cursor pointer
		&:before
			content: "\e738";
			font-family icomoon	
			font-size 1em
			opacity 1
			color #ccc
			background #ccc
			padding 4px
			transition all ease 0.5s
			cursor pointer
	input[type='checkbox']
		opacity  0
		width 50px
		margin-bottom 1em
		&:checked + label
			font-weight bold !important

			&:before
				background #3bafda
				color white
				content: "\e6fe";
				font-weight normal !important
				

.delete
	font-size 18px
	top 5px
	left 5px
	position absolute
	z-index 99
	text-shadow: 0px 2px 0px rgba(0, 0, 0, 1)
	transition all ease 0.3s
	&:hover
		cursor pointer
		font-size 20px