@import 'styleAdmin'

body
	#contentContainer
		max-width 994px;
		margin auto !important
		padding-left 1em 
		padding-right 1em 
		margin-top 1em !important
		.panel-heading
			padding-left 0 !important
			padding-right 0 !important
			ul
				font-size 0
				width 100%
				li
					margin-right 0 !important
					font-size 16px
				.status
					width 15%
		.ref,.name,.mail,.date
			width 10%
			text-align center
		.name,.mail
			width 30%
		.date 
			width 15%
		.status
			text-align center
		#new
			width 100%
			text-align left
			border solid 2px #16a085 !important
			color #16a085
			padding 7px
			padding-left 10px

			

