@import 'styleAdmin'

body
	#contentContainer
		max-width 994px;
		margin auto !important
		padding-left 1em 
		padding-right 1em 
		margin-top 1em !important
		.panel-heading
			padding-left 0 !important
			padding-right 0 !important
			ul
				font-size 0
				width 100%
				li
					margin-right 0 !important
					font-size 16px
				.ref
					width 10.5% !important
				.name,.description
					width 31.5%
				.cat
					width 48%
		.ref,.name,.description,.deleteItem,.cat
			width 10%
			text-align center
		.name,.description
			width 30%
		.cat
			width 51%

		.status
			text-align center
	#new
		width 100%
		text-align left
		border solid 2px #16a085 !important
		color #16a085
		padding 7px
		padding-left 10px
		
			

