@import 'styleAdmin'

body
	#contentContainer
		max-width 994px;
		margin auto !important
		padding-left 1em 
		padding-right 1em 
		margin-top 1em !important
		h3
			color naranja
		#description
			margin-top 2em
			#picture
				width 30%
				overflow hidden
				height 350px
				margin-right 2em
				div
					height 250px
					overflow hidden
					margin-bottom 0.5em
					img
						width 100%
			li
				margin-bottom 0.5em
				span
					font-style italic

			

