@import 'style'

#contentContainer
	margin-top -2em !important
	.bg-gray
		border-bottom solid 5px #ccc
		border-top solid 5px #ccc
		margin-top 2em	
	#etapas
		overflow hidden
		box-sizing border-box
		padding-top 0.5em
		padding-bottom 0.5em
		font-size 18px
		padding-bottom 1.5em
		padding-top 1.5em
		a
			color inherit
		li
			width 32%
			p
				font-size 17px !important
	#registerForm
		margin-top -5px
		border-top solid 5px #15D4E5
		padding-top 2em
		padding-bottom 3em
		font-family: "Lato", Helvetica, Arial, sans-serif;
		form
			max-width 350px
			margin auto
		
		

